block body
  div
    h2 #{title}
    ul
      li
        a(href='/') Home
      li
        a(href='/addPost') Add a new post

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='javascripts/app.js')
  script(src='js/services.js')
  script(src='javascripts/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
